# Configuração Local (Docker Compose)
DATABASE_URL=postgresql://postgres:postgres123@db:5432/sitefarma

# Configuração Produção (Supabase)
# DATABASE_URL=postgresql://postgres:[SUPABASE_PASSWORD]@db.[PROJECT_ID].supabase.co:5432/postgres

# Flask
FLASK_ENV=development
PORT=5000
